@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap');


.Articles{
  background-color: #4827E1;
  display: flex;
  flex-direction: column;
  align-items: center;

} 

*{
  padding:0; 
  margin:0;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
  text-align: center;


}



.users{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  margin: 60px auto;
  width: 100px;
  min-height: 60vh;
}



.card{
  
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  margin: 20px ;
  width: 500px ;
  left: center;
  padding: 8px 15px;
  min-height: 60vh;

}



.pagination-container {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  font-size: 1.2rem;
  gap: 5px;
  background-color: #5AB1BB;
  color: #fff;

  
}


.container{
  display: flex;
  box-sizing: border-box;
  align-items: center;

}


.pagination-item {
    padding: 18px 1px;
    height: 32px;
    text-align: center;
    margin: auto 4px;
    color: rgba(255, 246, 246, 0.87);
    display: flex;
    box-sizing: border-box;
    align-items: center;
    letter-spacing: 0.01071em;
    border-radius: 1px;
    line-height: 1.43;
    font-size: 13px;
    min-width: 40px;

  }
    
